################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tomasulo Machine/v17/Browse.VC.opendb
/Instruction.h
/Instruction.cpp
